<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='{{url_for('static', filename='style.css')}}'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 Bruh <strong> bruh </strong> <q>Bruh </q> <small>bruh</small><em>brih brah</em> <header>bruuuuuh</header><h1><p>bruh bru hubru brubu rub uruub urubu rub ru </p></h1><blockquote>BUUUU HHRR
     BRRR
     bbbbbbb
 </blockquote>

 <div class="social">
    <p>Меня можно найти в...</p>
    <p>Кроме того, у меня есть профиль на...</p>
  </div>

 <nav>Bruh</nav>
 <input type='text'>   
</body>
</html>