<!DOCTYPE HTML>
<html lang="ru">

<head>
  <meta charset="utf-8">
<title>Визитка</title>
</head>

<body background={{url_for('static', filename='Фон.jpg')}} link="#336699" vlink="#FF3366">

<br>
<table align=center border=4 bgcolor="white" width="90%" >

<th><img src={{url_for('static', filename='Логотип.png')}} width=220 height=180 border=1 align=center></th>

<th>
<big><big><big><big><tt><h1> Персональная страничка Хасанбаева Амаля </h1></tt></big></big></big></big>
</th></table>

<br> <hr> <br>

<table align=left border=5>			
<font face="GOST type A" align=center size=16><p><h2><b>Диджей, продюсер, звукорежиссёр</b></h2></p></font>

<br>

<h3>

<p>//		Дата рождения: 4 июня 2004 года</p>
<p>//		Место локации: <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82">Ташкент</a>, Узбекистан

</h3>

<br><br><br><br>

<font face="Calibri">
<table align=right width="23%">
			<td><a href="mailto:om1ji.music@gmail.com"><img src={{url_for('static', filename='Email_Logo.jpg')}} width=50 height=50></a></td>
			<td><a href="https://www.t.me/om1ji"><img src={{url_for('static', filename='Telegram_Logo.png')}} width=50 height=50></a></td>
			<td><a href="https://www.vk.com/om1ji"><img src={{url_for('static', filename='VK_Logo.png')}} width=50 height=50></a></td>
			<td><a href="https://www.facebook.com/amal.khasanbayev"><img src={{url_for('static', filename='Facebook_Logo.png')}} width=50 height=50></a></td>
			<td><a href="https://www.instagram.com/om1ji"><img src={{url_for('static', filename='Instagram_Logo.png')}} width=50 height=50></a></td>
			<td><a href="https://www.twitter.com/om1ji1"><img src={{url_for('static', filename='Twitter_Logo.png')}} width=50 height=50></a></td>
			</table>					
<br><br><br><hr>
</body>
</html>
