<!DOCTYPE HTML>
<html lang="ru">

<head>
  <meta charset="utf-8">
<title>Социальный опрос</title>
</head>

<body background=Фон.jpg><h1>


<form align=center> 

<br><br><br><br><br><br>

  <p>Вход в систему<br><br>

    Логин <input type="text" name="firstname" value="">
	<br>

    Пароль  <input type="password" name="lastname" value="">
	<br>
    
		<label for="country">Страна</label>
		<select name="country">
		<option>Выберите страну проживания</option>
		<option value="Россия">Россия</option> 
		<option value="Узбекистан">Узбекистан</option> 
		<option value="Другая">Другая</option><br>
		<input type="submit"> </p>

</h1><h4><p align=center>
<tr><td class="text_center">
        <label><input type="checkbox" name="remember_me" checked="checked" />Запомнить меня</label>
    </td></tr></p></h4><h1>
</form>

<br><br><br><br><br><br><br>

<p align=center> <a href=Визитка.html> На главную </a>

</h1></body></html>